#### Aggregating Files

In [3]:
import pandas as pd
import os, re

In [2]:
# Constants
RAW_DATA_DIR_PATH = 'G:\\My Drive\\AirPollutionML\\Raw_Data'
RAW_DATA_FILES_PATH = 'G:\\My Drive\\AirPollutionML\\Raw_Data_Files'
RAW_FILE_PATTERN = r"(?:Copy of )?Raw_data_1Hr_(\d{4})_"

In [4]:
from regex import *

#### Yearly Region Files Aggregation
Files of each year by each region with mean of station data

In [20]:
station_files = {}

In [6]:
for filename in os.listdir(RAW_DATA_FILES_PATH):
    match = re.match(STATION_FILE_PATTERN, filename)
    if match:
        year, region, station = match.groups()
        if year not in station_files:
            station_files[year] = {}
        if region not in station_files[year]:
            station_files[year][region] = []
        station_files[year][region].append(filename)

In [7]:
station_files

{'2023': {'Gurugram': ['2023_Gurugram_VikasSadan.csv',
   '2023_Gurugram_Sector51.csv'],
  'Faridabad': ['2023_Faridabad_Sector30.csv',
   '2023_Faridabad_NewIndustrialTown.csv'],
  'Delhi': ['2023_Delhi_SoniaVihar.csv', '2023_Delhi_MandirMarg.csv'],
  'Sonipat': ['2023_Sonipat_Murthal.csv'],
  'Rohtak': ['2023_Rohtak_MDUniversity.csv'],
  'Jind': ['2023_Jind_PoliceLinesJind.csv'],
  'Karnal': ['2023_Karnal_Sector12.csv'],
  'Meerut': ['2023_Meerut_PallamvpuramPhase2.csv',
   '2023_Meerut_GangaNagar.csv'],
  'Muzaffarnagar': ['2023_Muzaffarnagar_NewMandiMuzaffarnagar.csv'],
  'Noida': ['2023_Noida_Sector-125.csv', '2023_Noida_Sector-62.csv'],
  'Ghaziabad': ['2023_Ghaziabad_SanjayNagar.csv',
   '2023_Ghaziabad_Indirapuram.csv'],
  'Baghpat': ['2023_Baghpat_NewCollectorate.csv',
   '2023_Baghpat_SardarPatelInterCollege.csv'],
  'Palwal': ['2023_Palwal_ShyamNagar.csv']},
 '2022': {'Gurugram': ['2022_Gurugram_VikasSadan.csv',
   '2022_Gurugram_Sector51.csv'],
  'Faridabad': ['2022_Faridabad_Sector30.csv',
   '2022_Faridabad_NewIndustrialTown.csv'],
  'Delhi': ['2022_Delhi_SoniaVihar.csv', '2022_Delhi_MandirMarg.csv'],
  'Sonipat': ['2022_Sonipat_Murthal.csv'],
  'Rohtak': ['2022_Rohtak_MDUniversity.csv'],
  'Jind': ['2022_Jind_PoliceLinesJind.csv'],
  'Karnal': ['2022_Karnal_Sector12.csv'],
  'Meerut': ['2022_Meerut_PallamvpuramPhase2.csv',
   '2022_Meerut_GangaNagar.csv'],
  'Muzaffarnagar': ['2022_Muzaffarnagar_NewMandiMuzaffarnagar.csv'],
  'Noida': ['2022_Noida_Sector-125.csv', '2022_Noida_Sector-62.csv'],
  'Ghaziabad': ['2022_Ghaziabad_SanjayNagar.csv',
   '2022_Ghaziabad_Indirapuram.csv'],
  'Baghpat': ['2022_Baghpat_NewCollectorate.csv',
   '2022_Baghpat_SardarPatelInterCollege.csv'],
  'Palwal': ['2022_Palwal_ShyamNagar.csv']},
 '2021': {'Gurugram': ['2021_Gurugram_VikasSadan.csv',
   '2021_Gurugram_Sector51.csv'],
  'Faridabad': ['2021_Faridabad_Sector30.csv',
   '2021_Faridabad_NewIndustrialTown.csv'],
  'Delhi': ['2021_Delhi_SoniaVihar.csv', '2021_Delhi_MandirMarg.csv'],
  'Sonipat': ['2021_Sonipat_Murthal.csv'],
  'Rohtak': ['2021_Rohtak_MDUniversity.csv'],
  'Jind': ['2021_Jind_PoliceLinesJind.csv'],
  'Karnal': ['2021_Karnal_Sector12.csv'],
  'Meerut': ['2021_Meerut_PallamvpuramPhase2.csv',
   '2021_Meerut_GangaNagar.csv'],
  'Muzaffarnagar': ['2021_Muzaffarnagar_NewMandiMuzaffarnagar.csv'],
  'Noida': ['2021_Noida_Sector-125.csv', '2021_Noida_Sector-62.csv'],
  'Ghaziabad': ['2021_Ghaziabad_SanjayNagar.csv',
   '2021_Ghaziabad_Indirapuram.csv'],
  'Baghpat': ['2021_Baghpat_NewCollectorate.csv',
   '2021_Baghpat_SardarPatelInterCollege.csv'],
  'Palwal': ['2021_Palwal_ShyamNagar.csv']},
 '2020': {'Gurugram': ['2020_Gurugram_VikasSadan.csv',
   '2020_Gurugram_Sector51.csv'],
  'Faridabad': ['2020_Faridabad_Sector30.csv',
   '2020_Faridabad_NewIndustrialTown.csv'],
  'Delhi': ['2020_Delhi_SoniaVihar.csv', '2020_Delhi_MandirMarg.csv'],
  'Sonipat': ['2020_Sonipat_Murthal.csv'],
  'Rohtak': ['2020_Rohtak_MDUniversity.csv'],
  'Jind': ['2020_Jind_PoliceLinesJind.csv'],
  'Karnal': ['2020_Karnal_Sector12.csv'],
  'Meerut': ['2020_Meerut_PallamvpuramPhase2.csv',
   '2020_Meerut_GangaNagar.csv'],
  'Muzaffarnagar': ['2020_Muzaffarnagar_NewMandiMuzaffarnagar.csv'],
  'Noida': ['2020_Noida_Sector-125.csv', '2020_Noida_Sector-62.csv'],
  'Ghaziabad': ['2020_Ghaziabad_SanjayNagar.csv',
   '2020_Ghaziabad_Indirapuram.csv'],
  'Baghpat': ['2020_Baghpat_NewCollectorate.csv',
   '2020_Baghpat_SardarPatelInterCollege.csv'],
  'Palwal': ['2020_Palwal_ShyamNagar.csv']},
 '2019': {'Gurugram': ['2019_Gurugram_VikasSadan.csv',
   '2019_Gurugram_Sector51.csv'],
  'Faridabad': ['2019_Faridabad_Sector30.csv',
   '2019_Faridabad_NewIndustrialTown.csv'],
  'Delhi': ['2019_Delhi_SoniaVihar.csv', '2019_Delhi_MandirMarg.csv'],
  'Sonipat': ['2019_Sonipat_Murthal.csv'],
  'Rohtak': ['2019_Rohtak_MDUniversity.csv'],
  'Jind': ['2019_Jind_PoliceLinesJind.csv'],
  'Karnal': ['2019_Karnal_Sector12.csv'],
  'Meerut': ['2019_Meerut_PallamvpuramPhase2.csv',
   '2019_Meerut_GangaNagar.csv'],
  'Muzaffarnagar': ['2019_Muzaffarnagar_NewMandiMuzaffarnagar.csv'],
  'Noida': ['2019_Noida_Sector-125.csv', '2019_Noida_Sector-62.csv'],
  'Ghaziabad': ['2019_Ghaziabad_SanjayNagar.csv',
   '2019_Ghaziabad_Indirapuram.csv'],
  'Baghpat': ['2019_Baghpat_NewCollectorate.csv',
   '2019_Baghpat_SardarPatelInterCollege.csv'],
  'Palwal': ['2019_Palwal_ShyamNagar.csv']}}

In [39]:
for year, regions in station_files.items():
    for region, files in regions.items():
        new_filename = f"{year}_{region}.csv"
        aggregated_df = pd.concat(
            [pd.read_csv(os.path.join(RAW_DATA_FILES_PATH, file)) for file in files]
        )
        aggregated_df = aggregated_df.groupby("Timestamp").mean()
        aggregated_df = aggregated_df.reset_index().rename(
            columns={"index": "Timestamp"}
        )
        aggregated_df.to_csv(
            os.path.join(RAW_DATA_FILES_PATH, new_filename), index=False
        )

### Year Files Aggregation
Files of each year with mean of all regions

In [21]:
year_files = {}

In [22]:
for filename in os.listdir(RAW_DATA_FILES_PATH):
    match = re.match(YEAR_REGION_FILE_PATTERN, filename)
    if match:
        year, region = match.groups()
        if year not in year_files:
            year_files[year] = []
        year_files[year].append(filename)

In [23]:
year_files

{'2023': ['2023_Gurugram.csv',
  '2023_Faridabad.csv',
  '2023_Delhi.csv',
  '2023_Sonipat.csv',
  '2023_Rohtak.csv',
  '2023_Jind.csv',
  '2023_Meerut.csv',
  '2023_Muzaffarnagar.csv',
  '2023_Ghaziabad.csv',
  '2023_Baghpat.csv',
  '2023_Palwal.csv',
  '2023_Karnal.csv',
  '2023_Noida.csv'],
 '2022': ['2022_Gurugram.csv',
  '2022_Faridabad.csv',
  '2022_Delhi.csv',
  '2022_Sonipat.csv',
  '2022_Rohtak.csv',
  '2022_Jind.csv',
  '2022_Meerut.csv',
  '2022_Muzaffarnagar.csv',
  '2022_Ghaziabad.csv',
  '2022_Baghpat.csv',
  '2022_Palwal.csv',
  '2022_Karnal.csv',
  '2022_Noida.csv'],
 '2021': ['2021_Gurugram.csv',
  '2021_Faridabad.csv',
  '2021_Delhi.csv',
  '2021_Sonipat.csv',
  '2021_Rohtak.csv',
  '2021_Jind.csv',
  '2021_Meerut.csv',
  '2021_Muzaffarnagar.csv',
  '2021_Ghaziabad.csv',
  '2021_Baghpat.csv',
  '2021_Palwal.csv',
  '2021_Karnal.csv',
  '2021_Noida.csv'],
 '2020': ['2020_Gurugram.csv',
  '2020_Faridabad.csv',
  '2020_Delhi.csv',
  '2020_Sonipat.csv',
  '2020_Rohtak.csv',
  '2020_Jind.csv',
  '2020_Meerut.csv',
  '2020_Muzaffarnagar.csv',
  '2020_Ghaziabad.csv',
  '2020_Baghpat.csv',
  '2020_Palwal.csv',
  '2020_Karnal.csv',
  '2020_Noida.csv'],
 '2019': ['2019_Gurugram.csv',
  '2019_Faridabad.csv',
  '2019_Delhi.csv',
  '2019_Sonipat.csv',
  '2019_Rohtak.csv',
  '2019_Jind.csv',
  '2019_Meerut.csv',
  '2019_Muzaffarnagar.csv',
  '2019_Ghaziabad.csv',
  '2019_Baghpat.csv',
  '2019_Palwal.csv',
  '2019_Karnal.csv',
  '2019_Noida.csv']}

In [45]:
for year, files in year_files.items():
    new_filename = f"{year}.csv"
    aggregated_df = pd.concat(
        [pd.read_csv(os.path.join(RAW_DATA_FILES_PATH, file)) for file in files]
    )
    aggregated_df = aggregated_df.groupby("Timestamp").mean()
    aggregated_df = aggregated_df.reset_index().rename(columns={"index": "Timestamp"})
    aggregated_df.to_csv(os.path.join(RAW_DATA_FILES_PATH, new_filename), index=False)

### Year All Region Files Aggregation
Files of each year and all regions as column

In [28]:
for year, files in year_files.items():
    dfs = []
    new_filename = f"{year}_all_regions.csv"
    for file in files:
        match = re.match(YEAR_REGION_FILE_PATTERN, file)
        if match:
            df = pd.read_csv(os.path.join(RAW_DATA_FILES_PATH, file))
            _, region = match.groups()
            df["Region"] = region
            dfs.append(df)
        else:
            print(
                "Error in matching this file: {} with this pattern {}",
                file,
                YEAR_REGION_FILE_PATTERN,
            )
    aggregated_df = pd.concat(dfs)
    aggregated_df.to_csv(os.path.join(RAW_DATA_FILES_PATH, new_filename), index=False)

In [29]:
pd.read_csv(os.path.join(RAW_DATA_FILES_PATH,"2019_all_regions.csv"))

,Timestamp,PM2.5 (µg/m³),PM10 (µg/m³),NO (µg/m³),NO2 (µg/m³),NOx (ppb),NH3 (µg/m³),SO2 (µg/m³),CO (mg/m³),Ozone (µg/m³),...,AT (°C),RH (%),WS (m/s),WD (deg),RF (mm),TOT-RF (mm),SR (W/mt2),BP (mmHg),VWS (m/s),Region
0,2019-01-01 00:00:00,646.790,NaN,271.930,133.230,285.780,NaN,36.99,2.880,10.61,...,NaN,81.24,0.11,150.13,0.0,0.0,9.25,765.52,NaN,Gurugram
1,2019-01-01 01:00:00,638.860,NaN,246.760,117.270,258.910,NaN,29.44,2.200,9.67,...,NaN,82.79,0.11,152.34,0.0,0.0,9.80,765.55,NaN,Gurugram
2,2019-01-01 02:00:00,601.460,NaN,294.580,142.950,311.000,NaN,27.58,1.740,10.43,...,NaN,84.53,0.12,143.54,0.0,0.0,11.30,765.48,NaN,Gurugram
3,2019-01-01 03:00:00,547.040,NaN,328.360,154.260,344.010,NaN,26.36,2.290,10.43,...,NaN,86.47,0.12,151.70,0.0,0.0,8.05,765.30,NaN,Gurugram
4,2019-01-01 04:00:00,500.930,NaN,272.300,124.430,283.390,NaN,24.77,2.020,10.85,...,NaN,88.02,0.12,140.88,0.0,0.0,12.03,764.60,NaN,Gurugram
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113875,2019-12-31 19:00:00,375.440,590.36,60.390,57.775,96.210,55.38,23.50,5.285,7.97,...,9.73,81.25,0.30,40.50,0.0,0.0,23.25,751.75,NaN,Noida
113876,2019-12-31 20:00:00,499.075,724.03,84.890,53.695,117.945,56.68,27.05,4.300,9.54,...,8.50,86.75,0.30,45.00,0.0,0.0,21.25,752.00,NaN,Noida
113877,2019-12-31 21:00:00,551.535,765.46,109.895,56.520,143.720,70.78,41.97,4.010,17.44,...,7.52,91.50,0.30,44.50,0.0,0.0,20.00,752.00,NaN,Noida
113878,2019-12-31 22:00:00,667.215,731.46,124.315,53.695,155.410,63.53,34.88,3.970,19.68,...,7.65,92.00,0.30,35.50,0.0,0.0,20.50,752.25,NaN,Noida
113879,2019-12-31 23:00:00,549.030,852.77,207.050,20.820,228.120,NaN,NaN,4.410,22.68,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,Noida

### Region All Year Files Aggregation
Files of each region and all years

In [30]:
regions_files = {}

In [31]:
for filename in os.listdir(RAW_DATA_FILES_PATH):
    match = re.match(YEAR_REGION_FILE_PATTERN, filename)
    if match:
        year, region = match.groups()
        if region not in regions_files:
            regions_files[region] = []
        regions_files[region].append(filename)

In [32]:
regions_files

{'Gurugram': ['2023_Gurugram.csv',
  '2022_Gurugram.csv',
  '2021_Gurugram.csv',
  '2020_Gurugram.csv',
  '2019_Gurugram.csv'],
 'Faridabad': ['2023_Faridabad.csv',
  '2022_Faridabad.csv',
  '2021_Faridabad.csv',
  '2020_Faridabad.csv',
  '2019_Faridabad.csv'],
 'Delhi': ['2023_Delhi.csv',
  '2022_Delhi.csv',
  '2021_Delhi.csv',
  '2020_Delhi.csv',
  '2019_Delhi.csv'],
 'Sonipat': ['2023_Sonipat.csv',
  '2022_Sonipat.csv',
  '2021_Sonipat.csv',
  '2020_Sonipat.csv',
  '2019_Sonipat.csv'],
 'Rohtak': ['2023_Rohtak.csv',
  '2022_Rohtak.csv',
  '2021_Rohtak.csv',
  '2020_Rohtak.csv',
  '2019_Rohtak.csv'],
 'Jind': ['2023_Jind.csv',
  '2022_Jind.csv',
  '2021_Jind.csv',
  '2020_Jind.csv',
  '2019_Jind.csv'],
 'Meerut': ['2023_Meerut.csv',
  '2022_Meerut.csv',
  '2021_Meerut.csv',
  '2020_Meerut.csv',
  '2019_Meerut.csv'],
 'Muzaffarnagar': ['2023_Muzaffarnagar.csv',
  '2022_Muzaffarnagar.csv',
  '2021_Muzaffarnagar.csv',
  '2020_Muzaffarnagar.csv',
  '2019_Muzaffarnagar.csv'],
 'Ghaziabad': ['2023_Ghaziabad.csv',
  '2022_Ghaziabad.csv',
  '2021_Ghaziabad.csv',
  '2020_Ghaziabad.csv',
  '2019_Ghaziabad.csv'],
 'Baghpat': ['2023_Baghpat.csv',
  '2022_Baghpat.csv',
  '2021_Baghpat.csv',
  '2020_Baghpat.csv',
  '2019_Baghpat.csv'],
 'Palwal': ['2023_Palwal.csv',
  '2022_Palwal.csv',
  '2021_Palwal.csv',
  '2020_Palwal.csv',
  '2019_Palwal.csv'],
 'Karnal': ['2023_Karnal.csv',
  '2022_Karnal.csv',
  '2021_Karnal.csv',
  '2020_Karnal.csv',
  '2019_Karnal.csv'],
 'Noida': ['2023_Noida.csv',
  '2022_Noida.csv',
  '2021_Noida.csv',
  '2020_Noida.csv',
  '2019_Noida.csv']}

In [34]:
for region, files in regions_files.items():
    dfs = []
    new_filename = f"{region}_all_years.csv"
    aggregated_df = pd.concat(
        [pd.read_csv(os.path.join(RAW_DATA_FILES_PATH, file)) for file in files]
    )
    aggregated_df.to_csv(os.path.join(RAW_DATA_FILES_PATH, new_filename), index=False)

In [35]:
pd.read_csv(os.path.join(RAW_DATA_FILES_PATH,"Delhi_all_years.csv"))

,Timestamp,PM2.5 (µg/m³),PM10 (µg/m³),NO (µg/m³),NO2 (µg/m³),NOx (ppb),NH3 (µg/m³),SO2 (µg/m³),CO (mg/m³),Ozone (µg/m³),...,MP-Xylene (µg/m³),AT (°C),RH (%),WS (m/s),WD (deg),RF (mm),TOT-RF (mm),SR (W/mt2),BP (mmHg),VWS (m/s)
0,2023-01-01 00:00:00,141.500,201.000,41.2125,40.3125,64.5625,62.8000,6.800000,1.216667,3.6875,...,NaN,11.2000,92.4500,0.6000,276.1000,0.0,0.0,7.7250,988.3625,0.0
1,2023-01-01 01:00:00,136.125,189.750,34.6875,39.6125,57.3375,66.4250,6.562500,0.962500,4.4500,...,NaN,10.9500,93.5625,0.4250,268.4125,0.0,0.0,8.5500,988.1625,0.0
2,2023-01-01 02:00:00,132.000,181.250,30.3500,35.5500,49.7000,59.0500,5.200000,0.850000,3.8375,...,NaN,10.2750,94.6500,0.4125,269.9500,0.0,0.0,8.8125,987.9500,0.0
3,2023-01-01 03:00:00,131.125,178.250,51.4875,33.5250,68.9000,58.6125,5.275000,0.987500,4.1625,...,NaN,9.6625,94.6875,0.3625,266.6500,0.0,0.0,8.7625,987.7125,0.0
4,2023-01-01 04:00:00,142.250,216.500,65.3500,29.5125,79.2125,57.0875,5.766667,1.062500,3.4125,...,NaN,9.1375,94.5125,0.3750,273.9750,0.0,0.0,8.2875,987.6875,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43819,2019-12-31 19:00:00,197.875,302.125,67.4350,61.8150,87.8650,50.9500,6.250000,2.220000,11.2500,...,NaN,7.3300,80.5650,0.3500,175.3900,0.0,0.0,5.1250,981.8600,NaN
43820,2019-12-31 20:00:00,248.750,376.000,84.9600,55.9250,99.0150,55.0000,6.865000,2.580000,17.1900,...,NaN,6.6350,80.0150,0.2600,167.6000,0.0,0.0,4.9750,959.6400,NaN
43821,2019-12-31 21:00:00,271.250,423.875,144.1150,51.8750,145.1150,55.5650,7.620000,4.820000,20.4250,...,NaN,6.2250,83.0400,0.2600,190.5750,0.0,0.0,4.9900,976.0150,NaN
43822,2019-12-31 22:00:00,369.375,544.625,162.4400,46.3600,157.1150,60.3100,8.800000,5.600000,20.3900,...,NaN,6.0650,85.0900,0.4750,193.1350,0.0,0.0,5.0250,983.1400,NaN
43823,2019-12-31 23:00:00,450.750,653.375,236.8100,45.7350,217.3900,58.8600,11.000000,4.410000,16.4650,...,NaN,6.1600,85.5750,0.7500,211.4850,0.0,0.0,5.0000,985.0000,NaN